@font-face {
  font-family: Post;
  src: url('../fonts/Post.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.logotext {
  z-index: 10;
  opacity: 1;
  color: #f5f4ef;
  letter-spacing: .1em;
  height: 100%;
  padding: 0;
  font-size: 14px;
  transition: opacity .25s;
}

.logotext:hover {
  opacity: .6;
}

.logotext.w--current {
  color: #d7d7d7;
}

.logotext.project {
  opacity: 1;
  color: #d7d7d7;
  cursor: default;
}

.logotext.project:hover {
  opacity: 1;
}

.logotext.active {
  opacity: .5;
}

.navbar {
  background-color: #0000;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  height: auto;
  padding-left: 6px;
  padding-right: 6px;
  font-family: Alegreya, sans-serif;
  display: flex;
  position: absolute;
  inset: 6px auto auto 50%;
  transform: translate(-50%);
}

.navbar._3 {
  width: auto;
  display: none;
  left: 6px;
  transform: none;
}

.navbar._3._6 {
  z-index: 999990;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  pointer-events: auto;
  background-color: #29282385;
  border-radius: 20.17px;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 11.86px 14.24px;
  display: flex;
  top: 18.9867px;
  left: 50%;
  transform: translate(-50%);
}

.navbar._3._6._2 {
  top: 18.9867px;
}

.navbar._3._6._2.pro {
  display: block;
}

.navbar._3._6._2.pro.test {
  border-radius: 5px;
  inset: auto auto 18.9867px 50%;
  transform: translate(-50%, -50%);
}

.navbar._3._6.ttt {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 5px;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  display: block;
  top: 18.9867px;
  left: 50%;
  right: auto;
  transform: translate(-50%);
}

.logo {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex: 0 auto;
  align-items: baseline;
  height: 100%;
  margin-right: 20px;
  display: flex;
  position: relative;
}

.nav-menu {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  align-items: baseline;
  display: flex;
}

.nav-link {
  color: #d8c7b5;
  padding: 6px 8px 5px;
  font-size: 15.5px;
}

.nav-link._3 {
  color: #d8c7b5e6;
  padding: 4px 6px 3px;
  font-size: 15px;
}

.nav-link._3._6 {
  opacity: .5;
  color: #f5f4ef;
  letter-spacing: .1em;
  padding: 0;
  font-size: 14px;
  transition: opacity .25s;
}

.nav-link._3._6:hover {
  opacity: .6;
}

.nav-link._3._6.info {
  opacity: 100;
  color: #d7d7d7;
}

.nav-link._3._6.info:hover {
  opacity: .5;
}

.nav-link._3._6.other {
  opacity: 100;
  color: #d7d7d7;
}

.nav-link._3._6.other:hover {
  opacity: .5;
}

.nav-link._3._6.other.active {
  opacity: .5;
  color: #d7d7d7;
  cursor: default;
}

.nav-link._3._6.active, .nav-link._3._6.active.w--current {
  opacity: .5;
}

.body {
  background-color: #292823;
  overflow: visible;
}

.ng {
  background-image: url('../images/0017_17A.webp');
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0% auto auto 0%;
}

.pads {
  z-index: 999990;
  grid-column-gap: .2em;
  grid-row-gap: .2em;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #2a292885;
  border: 0 solid #ffffff21;
  border-radius: 20.17px;
  padding: 3.86px 6.24px;
  display: flex;
  position: fixed;
  bottom: 18.9867px;
  left: 50%;
  transform: translate(-50%);
}

.drag-layer {
  z-index: 10;
  opacity: 1;
  touch-action: none;
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.container {
  background-color: #0000;
  width: 150vw;
  height: 150vh;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: visible;
  transform: translate(-50%, -50%);
}

.gall3ry {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  transform-origin: center;
  will-change: transform;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.gall3ry.layout-1-gall3ry {
  flex-flow: wrap;
  justify-content: center;
  align-items: stretch;
  height: auto;
}

.archive-img {
  opacity: 1;
  pointer-events: none;
  object-fit: cover;
  -webkit-user-select: none;
  user-select: none;
  will-change: transform;
  transform-origin: center;
  width: calc(1.66667% - 3.93333px);
  max-width: none;
  height: auto;
  display: block;
}

.zoom-button {
  opacity: 1;
  cursor: pointer;
  padding: 7px 8px 8px;
  transition: opacity .5s;
}

.zoom-button.active {
  opacity: .5;
  cursor: default;
}

.wrapin {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  display: flex;
}

.zzz {
  pointer-events: none;
  width: 18px;
  height: 18px;
}

.noiselayer {
  z-index: 999999;
  opacity: .08;
  filter: grayscale();
  pointer-events: none;
  mix-blend-mode: soft-light;
  background-image: url('../images/noiseeee.gif');
  background-position: 50%;
  background-size: 500px;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  inset: 0% auto auto 0%;
}

.gall3ry-container {
  display: block;
}

.imgholder {
  z-index: 1;
  pointer-events: none;
  position: static;
}

.imgholder:hover {
  z-index: 1;
}

.imgholder.hovv {
  pointer-events: auto;
}

.header {
  z-index: 2147483647;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  min-height: auto;
  position: fixed;
  inset: 0% auto auto 0%;
}

.wrapedu {
  position: relative;
}

.wrapedu.active {
  opacity: .35;
  position: relative;
  top: -100px;
}

.backdrop {
  z-index: 9999999;
  opacity: 0;
  pointer-events: none;
  background-color: #00000080;
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0% auto auto 0%;
}

.text-container {
  z-index: 11;
  opacity: 0;
  max-width: 550px;
  display: none;
  position: absolute;
  inset: 190px auto auto 125px;
}

.info-para {
  color: #d7d7d7;
  max-width: none;
  font-family: Alegreya, sans-serif;
  font-size: 17px;
  line-height: 155%;
}

.arrow-container {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  cursor: pointer;
  flex: 0 auto;
  align-self: flex-end;
  width: 15px;
  height: 20px;
  margin-top: 0;
  display: flex;
  position: relative;
  top: -.5px;
  overflow: hidden;
}

.arrow {
  opacity: .8;
  filter: invert();
  pointer-events: none;
  cursor: pointer;
  width: 15px;
  position: relative;
  transform: rotate(-128deg);
}

.para {
  opacity: .75;
  pointer-events: none;
  color: #d7d7d7;
  text-transform: uppercase;
  font-family: Post, Arial, sans-serif;
  font-size: 17px;
  position: relative;
  top: 2px;
}

.gallery {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  transform-origin: center;
  will-change: transform;
  flex-flow: wrap;
  place-content: flex-start center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.noiseontop {
  opacity: 1;
  mix-blend-mode: darken;
  background-image: url('../images/back.png');
  background-position: 50%;
  background-size: 700px 200px;
  background-attachment: fixed;
  width: 200vw;
  height: 200vh;
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

.noise {
  opacity: .5;
  pointer-events: none;
  mix-blend-mode: soft-light;
  background-image: url('../images/grain.jpg');
  background-position: 50%;
  background-size: 1250px;
  background-attachment: fixed;
  width: 100vw;
  height: auto;
  min-height: 100svh;
  position: fixed;
  inset: 0% auto auto 0%;
}

.noise.opb {
  opacity: .2;
}

.hereonout {
  display: none;
}

.pro-img {
  z-index: 1;
  pointer-events: none;
  position: relative;
}

.pro-img:hover {
  position: relative;
}

.noclick {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  inset: 0% auto auto 0%;
}

.hovershit {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0% auto auto 0%;
}

@media screen and (max-width: 991px) {
  .backdrop {
    z-index: 9999;
    opacity: 0;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
}


@font-face {
  font-family: 'Post';
  src: url('../fonts/Post.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}